@import "../../../style/variables";

.NoBgButton {
  border: none;
  background: none;
  color: $main-color;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: color .3s;

  &:hover {
    color: $main-color-hover;
  }
}