* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
  }

  transition: .3s color,
  .3s background-color,
  .3s transform,
  .3s border-bottom-color,
  .3s border-top-color,
  .3s border-left-color,
  .3s border-right-color;
}

p {
  pointer-events: none;
}

html[data-theme='dark'] {
  --font-color: white;
  --navbar-bg: #242729;
  --background-color: #2d3134;
  --typing-font-color: whitesmoke;
  --input-border-color: #464646;
}

html[data-theme='light'] {
  --font-color: black;
  --navbar-bg: #f8f8f8;
  --background-color: white;
  --typing-font-color: #505050;
  --input-border-color: #d3d3d3;
}

:root {
  --main-color: palevioletred;
  --main-color-hover: #c2577b;
}